body {
  margin: 0;
  padding: 0;
}

.honguito-agregar {
  width: 100px;
  height: 100px;
}

.fondo-administrar {
  background-image: url(../src/assets/fondo-administrador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-crear {
  background-image: url(../src/assets/fondo-crear.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.fondo-editar {
  background-image: url(../src/assets/fondo-editar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fondo-detalle {
  background-image: url(../src/assets/fondo-detalle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mario {
  width: 100px;
}

.imagen-juego-tabla {
  width: 300px;
}

.border-item {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.moneda {
  width: 60px;
}

.btn-descarga {
  width: 500px;
  background-color: rgb(230, 0, 18) !important;
  border-color: rgb(230, 0, 18) !important;
}

@media screen and (max-width: 500px) {
  .btn-descarga {
    width: 300px;
    background-color: rgb(230, 0, 18) !important;
    border-color: rgb(230, 0, 18) !important;
  }
}
